[Unit]
Description=Ops Demo Order Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=orderdemo
Group=opslogs
WorkingDirectory=/opt/order-demo/app
UMask=0027

EnvironmentFile=/etc/order-demo/order-demo.env

ExecStart=/usr/bin/java -jar /opt/order-demo/app/order-demo.jar

SuccessExitStatus=143
Restart=on-failure
RestartSec=5
TimeoutStopSec=30

StandardOutput=journal
StandardError=journal
SyslogIdentifier=order-demo

NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target